body{
  padding: 1em;
}

header{
  display: flex;
  flex-direction: column;
  text-align: center;
}

#main-container{
  display: flex;
}

#instructions{
  border: 2px solid black;
  border-radius: 0.5em;
  max-width: 45%;
  padding: 0.5em;
}

#login-or-create-forms{
  border: 2px solid black;
  border-radius: 0.5em;
  max-width: 45%;
  display: flex;

  padding: 0.5em;
}

#change-password-form{
  border: 2px solid black;
  border-radius: 0.5em;
  max-width: 45%;
  padding: 0.5em;
}

h2{
  text-align: center;
}

input[type="submit"]{
  margin-top: 1em;
}


form{
  padding: 1em;
  display: flex;
  flex-direction: column;
}