body{
  padding: 1em;
}

header{
  display: flex;
  flex-direction: column;
  text-align: center;
}

#main-container{
  display: flex;
}

#instructions{
  max-width: 45%;
}

#login-or-create-forms{
  max-width: 45%;
  display: flex;
}

#change-password-form{
  max-width: 45%;
}

h2{
  text-align: center;
}

input[type="submit"]{
  margin-top: 1em;
}


form{
  padding: 1em;
  display: flex;
  flex-direction: column;
}